.box{
    width: 100%;
    height:auto;
    min-height: 1000px;
    right: 0px;
    position: absolute;
    background-color: rgb(250,250,250);
    overflow: hidden;
    background: -webkit-radial-gradient(center, ellipse cover, #353138 0%,#1a181c 100%);
}
.clear{
    clear: both;
}
.share_box{
    width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 80px;
}
.share_list{
    width: 100%;
    height: auto;
    list-style: none;
    padding-bottom: 20px;
}
.share_list li{
    width:220px;
    height: 220px;
    margin-left: 106.6px;
    float: left;
    background-color: white;
    margin-top: 100px;
    border-radius: 100%;
    transition: all .5s;
    cursor: pointer;
    position: relative;
}
.share_list li:hover{
    transform: translateY(-10px);
    box-shadow: white 0px 0px 8px,rgba(66, 71, 161, 0.7) 0px 0px 20px, rgba(66, 71, 161, 0.7) 0px 0px 20px;
}
.share_list li:nth-child(4n+1){
    margin-left: 0px;
}
.share_img_box{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    overflow: hidden;
    border-radius: 100%;
    z-index: 101;

}
.share_img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.share_tag-enter-active,.share_tag-leave-active{
    transition: all .5s;
}
.share_tag-enter,.share_tag-leave-to{
    opacity: 0;
    transform: translateY(50px);
}
.share_tag{
    width: 60px;
    text-align: center;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    bottom: -50px;
}
.share-enter-active,.share-leave-active{
    transition: all .5s;
}
.share-enter,.share-leave-to{
    opacity: 0;
    transform: translateY(-100%) scaleY(2);
}
.share_content_box{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 40px;
    padding-right: 10px;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    border-radius: 100%;
}
.share_title{
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.share_content{
    margin-top: 10px;
    font-size: 12px;
    color: rgba(255,255,255,0.8);
}
.share_author{
    text-align: right;
    color: rgba(255,255,255,0.9);
    margin-top: 10px;
    padding-right: 15px;
}