.box{
    width: 100%;
    height:100%;
    left: 0px;
    background-color: white;
    position: fixed;
    overflow: hidden;
    min-height: 0px;
}
.intro{
    width: 850px;
    height:auto;
    margin: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 150px;
    z-index: 109;
    font-size: 18px;
    color: rgb(240,240,240);
}
.flag{
    animation: flag 3s infinite;
    cursor: pointer;
}
@keyframes flag{
    0%{
        color: white;
    }
    50%{
        color: rgb(243,89,125);
    }
    100%{
        color: white;
    }
}
