*{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.box{
    width: 100%;
    height:auto;
    min-height: 1000px;
    right: 0px;
    position: absolute;
    background-color: rgb(250,250,250);
    overflow: hidden;
}
.search{
    width: 50px;
    height:50px;
    background-color: white;
    position: absolute;
    border: 1px solid rgb(220,220,220);
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    right: 20px;
    top:70px;
    position: fixed;
    cursor: pointer;
    transition:all .5s;
    z-index: 110;
}
.search_icon{
    float: left;
    width: 25px;
    height:25px;
    margin-top: 12.5px;
    margin-left: 12.5px;
}
.search_value_box{
    width: 0px;
    float: left;
    transition:all .5s;
    overflow: hidden;
    margin-top: -1px;
}
.search_value_box_hover{
    width: 410px;
    margin-left: 30px;
    
}
.search_hover{
    width: 500px;
}
.ivu-input{
    background-color: rgb(245,245,245);
    border: 0px;
    outline: none;
    border-radius: 5px;
}
.ivu-input:focus{
    box-shadow:unset;
}
/* .blog_top{
    width: 100%;
    height:80px;
    background-color: white;
    position: relative;
    min-width: 1050px;
    border-bottom: 1px solid rgb(220,220,220);
}
.blog_top_img_box{
    width: 100%;
    height: 100%;
    overflow: hidden;
} */
/* .blog_title{
    width: 300px;
    height: 50px;
    position: absolute;
    border-radius: 30px;
    top: 55px;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
    line-height: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 20px 0;
    font-size: 16px;
    transition: all .5s;
    color: rgb(150,150,150);
    font-weight: bold;
}
.blog_title:hover{
    transform:rotateX(360deg);
} */
.no_list-enter-active,.no_list-leave-active{
    transition: all .5s;
}
.no_list-enter{
    opacity: 0;
}
.no_list{
    position: absolute;
    top: 90px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 1050px;
    height: 100px;
}
.load{
    width: 200px;
    margin: auto;
    height: 50px;
    margin-top: 25px;
}
.load_icon{
    color: rgba(92,107,119);
    animation: load_ani 1s linear infinite;
}
.load_content{
    margin-left: 20px;
    color: rgba(92,107,119);
    font-size: 12px;
}
.bolg_list{
    width: 1050px;
    height:auto;
    margin: auto;
    position: relative;
    margin-bottom: 50px;
    margin-top: 90px;
    list-style: none;
}
.bolg_list li{
    width: 100%;
    height:245px;
    background-color: white;
    border-radius: 8px;
    margin-top: 40px;
    transition: all .5s;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 8px 8px rgb(245,245,245);
}
/* .hr{
    width: 20%;
    height: 2px;
    background-color: rgb(150,150,150);
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -20px;
    margin: auto;
} */

.bolg_list li:hover{
    transform: scale(1.02);
    box-shadow: 0px 8px 8px rgb(235,235,235);
}
.bolg_click{
    transform: translateX(150px) rotate(10deg) !important;
    z-index: 102;
}
.bolgList-enter,.bolgList-leave-to{
    opacity: 0;
    transform:translateY(-30px);
}
.list_img_box{
    width: 100%;
    height:100px;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
    position: relative;
}
/* .list_img{
    width: 100%;
    max-width: 100% !important;
} */
.list_info{
    width: 100%;
    height:135px;
    background-color: white;
    z-index: 101;
    position: relative;
    box-sizing: border-box;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.list_title_box{
    width: 950px;
    height:auto;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}
.t_l_icon{
    color: rgba(92,107,119,0.5);
    transform: rotate(180deg);
    margin-right: 50px;
    margin-top: -5px;
    animation: title_l_ani 2s linear infinite;
}
.t_r_icon{
    color: rgba(92,107,119,0.5);
    margin-left: 50px;
    margin-bottom: -5px;
    animation: title_r_ani 2s linear infinite;
}
.list_title{
    width: 100%;
    height:40px;
    line-height: 40px;
    font-size: 21px;
    text-align: center;
    float: left;
    letter-spacing: 1px;
    cursor: pointer;
    color: rgb(20,20,20);
    position: relative;
    color: rgb(92,107,119);
    font-weight: bold;
    margin-bottom: 5px;
    
}
.list_tag{
    width: 40%;
    height:25px;
    float: right;
    text-align: right;
    line-height: 25px;
    overflow: hidden;
    margin-top: 7.5px;
}
.tag{
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    float: right;
    color: rgba(92,107,119,0.8);
    border-bottom: 1px dashed #515a6e;
}
.top_tag{
    position: absolute;
    top: -10px;
    left: -15px;
    transform: rotate(70deg);
}
.list_content{
    width: 100%;
    height:65px;
    font-size: 12px;
    line-height: 20px;
    color: rgb(92,107,119);
    cursor: pointer;
}
.list_record{
    width: 100%;
    height:40px;
    line-height: 40px;
    margin-top: 15px;
    font-size: 12px;
}
.list_record_span{
    margin-left: 30px;
    color: rgba(92,107,119, 0.6);
}
.new{
    width: 50px;
    height: 30px;
    border-radius: 15px;
    background-color: blueviolet;
    position: absolute;
    right: -25px;
    top:-15px;
    z-index: 101;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    animation: new 1s infinite;
    box-shadow: 0px 4px 10px rgb(203, 154, 248);
}
.page{
    width: 1050px;
    margin: auto;
    height:50px;
    margin-bottom: 50px;
}
.head_right{
    width: 200px;
    height: 200px;
    position: absolute;
    transition: all .3s;
    border-radius: 8px;
    box-shadow: 0px 8px 8px rgb(245,245,245);
    background-color: white;
    z-index: 102;
}
.head_left{
    width: 200px;
    height: auto;
    position: absolute;
    transition: all .3s;
    z-index: 102;
}
.head_left_box{
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 8px 8px rgb(245,245,245);
    background-color: white;
    overflow: hidden;
}
.head_img_content_box{
    display: block;
    width: 60px;
    margin: auto;
    height: 60px;
    margin-top: 50px;
}
.head_img_box{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
}
.head_img_box img{
    width: 100%;
    height: 100%;
}
.head_intro{
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}
.notice_box{
    width:150px;
    height: auto;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
}
.notice_title{
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    color: rgb(92,107,119);
}
.notice_list{
    width: 100%;
    height: auto;
    margin-top: 15px;
    list-style: none;
}
.noticeList-enter,.noticeList-leave-to{
    opacity: 0;
    height: 0px;
    transform: translateY(-30px) scaleY(1.5);
}
.notice_list li{
    width: 100%;
    height: auto;
    margin-top: 20px;
    transition: all .5s;
}
.notice_icon{
    animation: notice_ani 1s linear infinite;
}
.notice_list li a{
    margin: auto;
    display: block;
    text-align: center;
    color: rgba(140,190,255,0.8);
    font-weight: bold;
}
.notice_list li:first-child{
    margin-top: 0px !important;
}
.notice_content{
    margin-top: 5px;
    font-weight: bold;
    font-size: 12px;
    color: rgba(92,107,119,0.9);
}
.notice_time{
    font-size: 12px;
    margin-left: 5px;
    color: rgba(92,107,119,0.8);
}
.notice_page{
    width: 100%;
}
@keyframes new{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(2deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes title_l_ani{
    0%{
        transform: rotate(180deg) translateX(0px);
    }
    2%{
        transform: rotate(180deg) translateX(-5px);
    }
    4%{
        transform: rotate(180deg) translateX(5px);
    }
    6%{
        transform: rotate(180deg) translateX(0px);
    }
    100%{
        transform: rotate(180deg) translateX(0px);
    }
}
@keyframes title_r_ani{
    0%{
        transform: translateX(0px);
    }
    2%{
        transform: translateX(-5px);
    }
    4%{
        transform: translateX(5px);
    }
    6%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes load_ani{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes notice_ani{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(1);
    }
}
