
@media screen and (max-device-width: 460px) {
    /* 导航 */
    .guide{
        width: 100%;
        height:35px;
    }
    .head{
        display: none;
    }
    .guide_box{
        width: 350px;
        height:35px;
        margin: unset;
    }
    .guide_list{
        width: 100%;
    }
    .guide_to{
        padding-left: 10px;
        padding-right: 10px;
    }
    .guide_list li{
        height:35px;
        font-size: 12px;
        float: left;
        width: 70px;
        line-height: 35px;
    }
    .ele_box{
        top: 10px;
        right: 20px;
    }
    /* 内容 */
    .box{
        width: 100% !important;
        height:auto;
        min-height: 1000px;
        background-color: #eeeeee;
        position: relative;
        float: unset;
    }
    
    }