.box{
    width: 100%;
    height:auto;
    right: 0px;
    background-color: rgb(33,55,75);
    position: absolute;
    box-sizing: border-box;
    padding: 50px;
}
.cat{
    width: 800px;
    height: 800px;
    position: fixed;
    right: 0px;
    top: 0px;
}
.module{
    width: 1150px;
    height: auto;
    overflow: hidden;
    margin: auto;
    min-height: 900px;
    padding-bottom: 100px;
    position: relative;
    z-index: 110;
}
.module_box{
    width: 100%;
    height:auto;
    overflow: hidden;
    margin-top: 50px;
}
.module_title{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}
.module_ul{
    width: 100%;
    height:auto;
    overflow: hidden;
}
.module_ul li{
    width: 18%;
    height:90px;
    margin-left: 2.5%;
    /* background-color: white; */
    border-radius: 5px;
    float: left;
    list-style: none;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    transition: all .5s;
    cursor: pointer;
    
}
.module_ul li:nth-child(5n-4){
    margin-left: 0px;
    
}
.module_ul li:hover{
    background-color: white;
    border: 0px !important;
}
.tag_img{
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 2px;
    margin-top: 10px;
    float: left;
    margin-left: 5px;
}
.tag_box{
    width: 115px;
    height:auto;
    float: left;
    margin-left: 15px;
}
.tag_title{
    width: 100%;
    font-size: 12px;
    height:18px;
    margin-top: 5px;
    font-weight: bold;
    color: white;
}
.tag_content{
    font-size: 15px;
    margin-top: 5px;
    font-size: 10px;
    line-height: 15px;
    color: rgba(255,255,255,0.8);
}