.box{
    width: 100%;
    height:100%;
    right: 0px;
    background-color: rgb(33,55,75);
    position: fixed;
    box-sizing: border-box;
    background: -webkit-radial-gradient(center, ellipse cover, #353138 0%,#1a181c 100%);
}
.words_box{
    width: 600px;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 30%;
    left:0px;
    right:0px;
    z-index: 110;
}
.title{
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    line-height: 100px;
    font-size: 40px;
    color: white;
}
.ground{
    width: 450px;
    height: 50px;
    background: -webkit-linear-gradient(left, red , blue); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, red, blue); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, red, blue); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, rgb(97,40,141) , rgb(45,191,155)); /* 标准的语法 */
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0px 10px 10px rgb(30,30,30);
    float: left;
    margin-top: 50px;
}
.words{
    width: 440px;
    height: 40px;
    outline: none;
    border: 0px;
    display: block;
    margin: auto;
    margin-top: 5px;
    border-radius: 20px;
    background-color: rgb(49,45,51);
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    color: white;
    box-shadow: inset 0px 3px 4px rgba(0,0,0,0.8),0px 2px 0px rgba(255,255,255,0.2);
}
.but{
    margin-top: 50px;
    width: 120px;
    margin-left: 30px;
    float: left;
    height: 50px;
    border-radius: 25px;
    border:2px solid #2dbe9b;
    box-shadow: inset 0px 3px 4px rgba(0,0,0,0.8),0px 10px 10px rgb(30,30,30);
    color: #2dbe9b;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: all .5s;
    box-sizing: border-box;
}
.but:hover{
    box-shadow: 0px 0px 20px #2dbe9b88,inset 0px 4px 2px rgba(240,240,240,0.4);
    color: white;
    background-color: #2dbe9b;
    border: 0px;
}
.words_display{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    position: fixed;
    top: 0px;
    z-index: 109;
}
.display-enter-active,.display-leave-active{
    transition: all .5s;
}
.display-enter,.display-leave-to{
    opacity: 0;
    transform: scalex(2) translateX(-80px);
}
.word{
    position: absolute;
}